@charset "UTF-8";
body {
  --containerMaxWidth:1420px;
  --hauptfarbe:#fff;
  --colorButtonText:black;
  --backgroundMenuItemHover:transparent;
  --colorMenuItemHover:var(--sekundaerfarbe);
  --backgroundFooter:var(--sekundaerfarbe);
  --paragraph:24px;
  --lineHeightParagraph: 32px;
  --backgroundHeader:#ffffffde !important;
  --backgroundBody:white;
  --sv-small-fontsize:16px;
  --sv-small-lineheight:16px;
  --colorLinkHover:#740300;
  --backgroundSubmenu:white;
  --sv-setzten-radius:0;
  --wp--style--global--content-size:var(--containerMaxWidth) ;
}

.satzspiegel {
  box-sizing: content-box;
}

/* *************
    Header
*/
body.mb-transp-header header .widget_nav_menu ul.menu > li a {
  text-shadow: none;
  font-weight: 700;
  font-size: var(--sv-small-fontsize);
}

header {
  --colorMenuItem:#fff;
}
header .header-sidebar-wrap {
  gap: 20px;
  padding-top: 30px;
  transition: all 0.3s ease;
  /*Menü*/
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li:last-child > a {
  padding-right: 0;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li:hover > a {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--sekundaerfarbe);
  text-decoration-thickness: 2px;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li ul.sub-menu {
  border-radius: var(--sv-setzten-radius);
  overflow: hidden;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li ul.sub-menu li {
  border: 2px solid black;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li ul.sub-menu li a {
  padding: 10px 25px;
  justify-content: center;
  color: black;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li ul.sub-menu li:hover a {
  color: white;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li ul.sub-menu li:not(:first-child) {
  border-top: none;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li ul.sub-menu li:last-child {
  border-radius: var(--sv-setzten-radius);
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu li.menu-item-search .bi-search {
  background: #fff;
  border-radius: 55%;
  padding: 6px;
  border: 2px solid #000;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu li.menu-item-search:hover a {
  text-decoration: none;
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu li.menu-item-search:hover a .bi-search {
  background-color: var(--sekundaerfarbe);
}
header .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu li.menu-item-search:hover a .bi-search:before {
  color: #fff;
}
header .header-sidebar-wrap {
  /*Werbung*/
}
header .header-sidebar-wrap .mbto-before-menu {
  display: flex;
  align-items: center;
  flex: 1;
}
header .header-sidebar-wrap .mbto-before-menu p {
  color: var(--colorMenuItem);
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 500;
  padding-right: 20px;
}
header .header-sidebar-wrap .mbto-before-menu figure img {
  max-height: 70px;
}
header .header-sidebar-wrap .mbto-before-menu #block-5 .wp-block-cover {
  min-height: auto;
}
header .widget_nav_menu ul li a i::before {
  color: #000 !important;
}
header.set-bgcolor .header-sidebar-wrap {
  padding-top: 0px;
}
header.set-bgcolor {
  --colorMenuItem:#000;
}
header.set-bgcolor .header-sidebar-wrap nav.menu-hauptmenue-container > ul.menu > li:hover > a {
  color: #000;
}

/* *************
    Content
*/
.home h1 {
  font-size: 90px;
  line-height: 85px;
  margin-bottom: 40px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .home h1 {
    font-size: 60px;
  }
}
@media (max-width: 1024px) and (max-width: 601px) {
  .home h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
.home {
  /*Mannschaft*/
}
.home #fp-team-squad-view {
  background-color: transparent;
}
.home #fp-team-squad-view .fp-subheading-text,
.home #fp-team-squad-view > .fp-team-squad-view-position-group:not(:nth-child(4)) {
  display: none;
}
.home #fp-team-squad-view > .fp-team-squad-view-position-group .fp-team-squad-view-position-group-players {
  display: flex;
  overflow: hidden;
}
.home #fp-widget-footer {
  background-color: transparent;
}
.home .post-content {
  margin-bottom: 0;
}

main {
  /*Fonts*/
}
main h2, main h3, main h4, main h5, main h6 {
  font-size: var(--paragraph);
  line-height: var(--lineHeightParagraph);
  text-transform: uppercase;
  font-weight: 700;
}
main {
  /*Buttons*/
}
main .loop-wrapper .loop-more,
main .loop + .pagination-wrap .more .more-link,
main form input[type=submit],
main .wp-element-button {
  border: 2px solid black !important;
  font-size: var(--paragraph) !important;
  padding: 10px 40px !important;
  font-weight: 500 !important;
}
main .loop-wrapper .loop-more:hover,
main .loop + .pagination-wrap .more .more-link:hover,
main form input[type=submit]:hover,
main .wp-element-button:hover {
  border-color: var(--colorButtonHover);
  background-color: var(--sekundaerfarbe) !important;
  color: #fff !important;
}
main .mb-button-outline .wp-element-button {
  border: 2px solid black;
}
main {
  /*Hinweise*/
}
main .hinweis-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}
main .hinweis-wrapper > div {
  border: 2px solid black;
  padding: 10px 30px;
}
main .hinweis-wrapper > div p {
  font-size: var(--sv-small-fontsize);
  line-height: var(--sv-small-lineheight);
}
main .hinweis-wrapper > div:first-child {
  display: flex;
  align-items: center;
  min-width: 225px;
}
main .hinweis-wrapper > div:last-child {
  border-color: var(--sekundaerfarbe);
}
main {
  /*Mitglied-Banner*/
}
main .mitglied-banner {
  background-size: 100% 100% !important;
}
main .mitglied-banner > div {
  max-width: calc(var(--wp--style--global--wide-size) - 80px);
}
main .mitglied-banner > div .wp-block-buttons {
  margin-bottom: 0;
}
main .mitglied-banner > div .wp-block-buttons .wp-element-button {
  color: var(--sekundaerfarbe);
  border-color: transparent;
  min-width: 250px;
}
main .mitglied-banner > div .wp-block-buttons .wp-element-button:hover {
  color: white;
  background-color: black;
}
@media (max-width: 768px) {
  main .mitglied-banner > div .wp-block-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
main {
  /*Mannschaft entdecken*/
}
main .mannschafts-wrap {
  z-index: 11;
  background-size: 100% 100% !important;
}
main .mannschafts-wrap > div > p {
  margin-left: 0 !important;
}
main .mannschafts-wrap .zur-mannschaft-button {
  display: flex;
  flex-direction: row-reverse;
}
main .mannschafts-wrap .zur-mannschaft-button.mb-button-icon.bi:before,
main .mannschafts-wrap .zur-mannschaft-button * {
  color: black;
}
main .mannschafts-wrap .zur-mannschaft-button.mb-button-icon.bi:before {
  right: 10px;
}
main .mannschafts-wrap .zur-mannschaft-button a {
  text-align: left;
}
main {
  /*Wolke*/
}
main .wp-block-cover.alignfull.no-distance-bottom.mb-parallax {
  overflow: visible;
  z-index: 10;
}
@media (max-width: 768px) {
  main .wp-block-cover.alignfull.no-distance-bottom.mb-parallax img {
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
  }
}
main {
  /*Formular*/
}
main form {
  max-width: var(--textMaxWidth);
}
main form input[type=email],
main form input[type=text],
main form textarea {
  background-color: white !important;
}
main form .html-wrap p {
  font-size: var(--sv-small-fontsize);
  line-height: var(--sv-small-lineheight);
}
main {
  /*mehr Beitragsbutton*/
}
main .pagination-wrap {
  width: 100%;
}
main .pagination-wrap .more-link,
main .pagination-wrap .more {
  width: 100%;
}
main .pagination-wrap .more-link {
  font-size: var(--sv-small-fontsize) !important;
  text-align: left !important;
}
main .pagination-wrap .more-link:after {
  content: "\f231";
  font-family: "bootstrap-icons";
  position: absolute;
  right: 10px;
}
main {
  /*Beiträge*/
}
main .mbgi-block.mbgi-block-post-loop article:last-child data {
  z-index: 6;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
}

/*Beitragskacheln*/
.loop article {
  border-radius: var(--sv-setzten-radius);
  border: 2px solid black;
  box-shadow: none;
  background-color: #fff;
}
.loop article .loop-date {
  display: none;
}
.loop article .loop-title {
  margin-left: 0;
}
.loop article .loop-more {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: var(--abstandSeitenLoop);
  text-decoration: none;
  font-size: var(--sv-small-fontsize);
  padding: 10px 40px;
  text-transform: uppercase;
}
.loop article .loop-more:after {
  display: none;
}
.loop article a {
  pointer-events: none;
}

.kontakt form {
  margin: 0 auto var(--abstandUntenContainer);
}

.download a.mbfse-group-link:hover + .wp-block-modulbuero-bootstrap-icons > div p {
  color: var(--colorLinkHover);
}

body.mb-transp-header .post-content > h1:first-child {
  padding-top: var(--abstandUntenHeadline);
}

main .hinweis-wrapper > div:last-child {
  border-color: #000;
}

main .mitglied-banner > div .wp-element-button {
  color: #000;
}

/*Werbebanner*/
.werbebanner-statisch {
  width: 380px;
  margin-left: 0 !important;
  position: absolute;
  top: calc(100vh - 300px);
  margin-bottom: 0;
}
.werbebanner-statisch > .wp-block-group {
  margin-bottom: 0 !important;
  background-color: #000;
  padding: 5px 15px;
}
.werbebanner-statisch > .wp-block-group p {
  margin-bottom: 0 !important;
  color: #fff;
  font-size: 16px;
}
.werbebanner-statisch > .wp-block-group .bi:before {
  color: #fff;
}
.werbebanner-statisch > .wp-block-group figure {
  margin-bottom: 0 !important;
}

.werbebanner-fixed {
  max-width: 209px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-25%);
  z-index: 11111;
  width: 209px;
}
.werbebanner-fixed figure {
  margin-bottom: 0 !important;
}
.werbebanner-fixed > p {
  position: absolute;
  top: -18px;
  right: 3px;
  border: 1px solid #000;
  border-radius: 55%;
  padding: 2px;
  font-size: 15px;
  width: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 1111;
  cursor: pointer;
}

.werbebanner-popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 111;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2901960784);
}
.werbebanner-popup > .wp-block-group {
  border-radius: 0 0 15px 15px;
  border: 1px solid #000;
  overflow: hidden;
}
.werbebanner-popup p {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #000;
  border-radius: 55%;
  padding: 2px;
  font-size: 15px;
  width: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1111;
  cursor: pointer;
}
.werbebanner-popup p:hover {
  background-color: #fff;
}

.werbebanner-fluss {
  border: 1px solid #000;
  overflow: hidden;
  max-width: 600px;
}
.werbebanner-fluss > p {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #000;
  border-radius: 55%;
  padding: 2px;
  font-size: 15px;
  width: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1111;
  cursor: pointer;
  color: #c8c8c8;
}
.werbebanner-fluss > p:hover {
  background-color: #fff;
}
.werbebanner-fluss img {
  transform: none !important;
}

.kontakt-stipe,
.kontaktwrap {
  z-index: 10;
}

/* *************
    Footer
*/
footer {
  --backgroundFooter:#000;
  z-index: 11111;
}
footer .footer-sidebar-backend > div > div * {
  color: white;
  font-size: var(--sv-small-fontsize);
}
footer .footer-sidebar-backend > div > div > figure img {
  max-height: 100px;
  width: auto;
}
footer .footer-sidebar-backend > div > div > figure.mb-logo {
  display: flex;
  gap: 24px;
}
footer .footer-sidebar-backend > div > div > figure.mb-logo:after {
  content: "";
  position: relative;
  display: block;
  height: 51px;
  width: 1px;
  background-color: white;
}
footer .footer-sidebar-backend > div > div > .wp-block-group {
  flex: 1;
  align-items: flex-end;
  gap: 5px;
}
@media (max-width: 480px) {
  footer .footer-sidebar-backend > div > div > .wp-block-group {
    gap: 15px;
  }
}
footer .footer-sidebar-backend > div > div > .wp-block-group nav.menu-footer-container ul {
  display: flex;
  gap: 20px;
}
@media (max-width: 601px) {
  footer .footer-sidebar-backend > div > div > .wp-block-group nav.menu-footer-container ul {
    flex-direction: row;
  }
}
footer .footer-sidebar-backend > div > div > .wp-block-group nav.menu-footer-container ul li:not(:last-child):after {
  content: "//";
  padding-left: 20px;
}
footer .footer-sidebar-backend > div > div > .wp-block-group nav ul.menu a,
footer .footer-sidebar-backend > div > div > .wp-block-group nav ul.menu li {
  padding: 0;
  text-align: right;
  color: white;
}
footer .footer-sidebar-backend > div > div .mbgi-block .socialmedia-wrap a {
  background-color: transparent;
  width: auto;
  height: auto;
}
footer .footer-sidebar-backend > div > div .mbgi-block .socialmedia-wrap a i:before {
  color: #fff;
}
footer .footer-sidebar-backend > div > div .mbgi-block .socialmedia-wrap a:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 768px) {
  footer .footer-sidebar-backend > div > div {
    flex-wrap: wrap;
  }
  footer .footer-sidebar-backend > div > div > .wp-block-group {
    flex-basis: 100%;
    order: -1;
    align-items: flex-start;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  footer .footer-sidebar-backend > div > div {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-sidebar-backend > div > div .mb-logo::after {
    display: none !important;
  }
}
footer #corporate-copyright,
footer .footer-sidebar-wrap {
  display: none !important;
}

/*
    Mobile
*/
@media screen and (max-width: 601px) {
  .satzspiegel {
    box-sizing: border-box;
  }
  .werbebanner-fluss .wp-block-cover__inner-container {
    padding: 20px;
  }
  main .wp-block-cover.alignfull.no-distance-bottom.mb-parallax img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */