/*Vörderferein Niedersachsen*/
.page-id-1008{
    --wp--preset--color--contrast: #000000;
    --wp--preset--color--tertiary: #A3D5D3;
    --satzspiegel:1440px;
    --satzspiegel-short:1170px;
    --mbfse--margin-bottom-inline:50px;
    --has-large-font-size:39px;
    --wp--preset--font-size--large:var(--has-large-font-size);
    header, footer{
        display: none !important;
    }

    main{
        margin-top:var(--mbfse--margin-bottom-block) !important;
        margin-bottom:var(--mbfse--margin-bottom-block) !important;
        h1, h2{
            font-size: 95px;        
            margin-bottom: 30px;
        }
        p{
            max-width: var(--satzspiegel-short) !important;
        }

        .wp-block-group.alignfull{
            padding-left: var(--wp--style--root--padding-left);
            padding-right: var(--wp--style--root--padding-left);
        }

        /*Tabelle*/
        .wp-block-table{
            max-width: var(--satzspiegel-short);
            box-shadow: 10px 10px 40px #0000001A;
            table {
                tbody tr td:last-child,
                thead tr th:last-child{
                    background-color: transparent;
                }
                thead {
                    border:none;
                    tr th{
                        background-color: var(--wp--preset--color--tertiary) !important;
                        color:#fff;
                        font-weight: 600 !important;
                    }
                }
                td, th{
                    padding: 20px !important;
                    font-weight: 400 !important;
                    font-size: 18px;
                }
            }
        }

        //Vorteile
        .vorteile.mb-scrollHorizontal{
            >div{
                background-color: #0000000F !important;
            }
        }

        /*Pakete*/
        .wp-block-post-content .zwei-pakete{
            .wp-block-image.alignright{
                position: absolute;
                bottom: 0;
                right: 0;
            }

            >div{
                box-shadow:none !important;
                padding-bottom:60px;
                .bi-arrow-right{
                    line-height: 1;
                    font-size: 24px !important;
                }
            }
            
            > div:nth-child(2):before{
                content:"Empfehlung" !important;
                font-weight: 600;
            }
        }

        .wp-block-media-text__content{
            .has-background p.has-base-color.has-text-color{
                margin-bottom: 5px!important;
            }
        }

        //Formular
        .nf-form-cont{
            border:none;
            padding: 0 !important;
            h3{
                display:none
            }
        }
    }
}

/*Allgemein todo überführen in CHild*/
.aufzaehlung{
    max-width: 940px;
    >div{
        justify-content: flex-start;
        gap:0;
        box-shadow: 10px 10px 40px #1E15221A;
        margin-bottom:40px;
        
        >p{
            background-color: var(--wp--preset--color--tertiary);
            color:#fff;
            font-size: 40px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height:120px;
            margin-bottom: 0 !important;
        }
        >div{
            padding-left:40px;
            padding-right:40px;
            gap:0;
            >p:first-child{
                margin-bottom: 5px !important;
            }
        }
    }
}