@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-thin-italic";
  src: url("Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/*Variable*/
body {
  --backgroundMenuItemHover:#000;
  --abstandMenuItem: 15px;
  --headline-2:39px;
  --headline-3:20px;
  --wp--preset--font-size--large:var(--headline-2);
  --backgroundHeader: #000000e8 !important;
}
body .woocommerce-cart {
  --colorTableHead:#8b8b8c;
}
body h1, body h2, body h3 {
  text-transform: uppercase;
}

/*Header/Menü*/
body.mb-transp-header header:not(.set-bgcolor) {
  box-shadow: inset 0px 65px 30px -30px rgba(0, 0, 0, 0.2588235294) !important;
}
body.mb-transp-header {
  /*Menüpunkte*/
}
body.mb-transp-header header .widget_nav_menu ul li a {
  text-transform: uppercase;
}
body.mb-transp-header header .widget_nav_menu ul li.menu-item-has-children > a:after {
  content: "\f282";
  font-family: "bootstrap-icons";
  margin-left: 5px;
  font-size: 10px;
}
body.mb-transp-header header .widget_nav_menu ul li.has-tr:before {
  content: "|";
  color: #fff;
  font-size: 20px;
}
body.mb-transp-header header .widget_nav_menu ul li.facebook a, body.mb-transp-header header .widget_nav_menu ul li.instagram a {
  font-size: 0;
}
body.mb-transp-header header .widget_nav_menu ul li.facebook a:after, body.mb-transp-header header .widget_nav_menu ul li.instagram a:after {
  content: "\f437";
  font-family: "bootstrap-icons";
  font-size: 16px;
}
body.mb-transp-header header .widget_nav_menu ul li.facebook a:after {
  content: "\f344";
}

/* ******************
    Content
*/
body:not(.home):not(.mb-headline-hide).mb-transp-header #mb-container header {
  background: var(--backgroundHeader);
}
body:not(.home):not(.mb-headline-hide).mb-transp-header #mb-container > main {
  padding-top: 120px !important;
}

h1.mb-hide + .wp-block-cover {
  padding: 0 var(--abstandSeiten);
}
h1.mb-hide + .wp-block-cover:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: var(--sekundaerfarbe);
  background: linear-gradient(58deg, rgba(77, 167, 77, 0.8) 0%, rgba(0, 0, 0, 0.2) 60%);
}
@media (max-width: 1440px) {
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container {
    padding: 0;
  }
}
h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container {
  z-index: 2;
}
h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading {
  font-size: 89px;
  line-height: 1;
  font-style: italic;
  font-weight: 600;
}
h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading strong {
  font-size: 109px;
  font-style: normal;
}
h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading em {
  font-size: 140px;
  font-weight: 100;
  font-family: "Roboto-thin-italic";
}
h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container p {
  font-size: var(--headline-2);
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .post-content div.alignfull:not(.wp-block-cover) > * {
    padding-left: var(--abstandSeiten) !important;
    padding-right: var(--abstandSeiten) !important;
  }
}

.wp-block-buttons .wp-block-button__link {
  border-radius: 55px;
  border: 1px solid #000;
  font-weight: 400;
}
.wp-block-buttons .wp-block-button__link:hover {
  color: #000;
}

.single_add_to_cart_button.button {
  background-color: var(--sekundaerfarbe) !important;
}

.bi.bi-filetype-pdf {
  color: #fff;
  font-size: 28px;
}

.btn-weisz.mb-button-icon.bi:before {
  color: #000;
}
.btn-weisz:hover:before {
  color: #fff !important;
}
.btn-weisz .wp-block-button__link {
  background-color: #fff !important;
  color: #000 !important;
}
.btn-weisz .wp-block-button__link:hover {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #fff !important;
}

.mb-button-icon.bi:before {
  right: 20px;
  top: -2px;
}
.mb-button-icon.bi:hover:before {
  color: #000;
}
.mb-button-icon.bi .wp-block-button__link {
  padding-left: 0;
  padding-right: calc(2 * var(--abstandIcon) + var(--buttonPaddingLR));
}

.wp-block-buttons > .wp-block-button.has-custom-width {
  min-width: -moz-max-content;
  min-width: max-content;
}
@media (max-width: 768px) {
  .wp-block-buttons > .wp-block-button.has-custom-width {
    width: 100%;
  }
}

main .post-content .wp-block-separator {
  width: 100% !important;
  margin: var(--abstandUntenContainer) 0;
}

.first-sponsor.wp-block-group.alignfull {
  padding: 0 !important;
  position: absolute;
  z-index: 1;
  margin-top: -78px;
}
.first-sponsor.wp-block-group.alignfull:before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: black;
  clip-path: polygon(100% 45%, 100% 100%, 0% 100%);
}
.first-sponsor.wp-block-group.alignfull .wp-block-image {
  padding: 0 var(--abstandSeiten);
}
.first-sponsor.wp-block-group.alignfull .wp-block-image img {
  border-radius: 5px 5px 0 0;
  border-left: 20px solid #000;
  border-right: 20px solid #000;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  max-height: 78px;
  width: auto;
}

.angebote-wrap > div.wp-block-group {
  margin-bottom: 0 !important;
  overflow: hidden;
}
.angebote-wrap > div.wp-block-group figure {
  margin-bottom: 0;
  transition: all 0.3s ease;
}
.angebote-wrap > div.wp-block-group figure img {
  width: 100%;
}
.angebote-wrap > div.wp-block-group p {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}
.angebote-wrap > div.wp-block-group:hover figure {
  scale: 1.1;
}

.mitglieds-wrap.has-background {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 30px);
  padding: 70px var(--abstandSeiten) !important;
}
.mitglieds-wrap.has-background .wp-element-button {
  min-width: 260px;
}

.sponsorenwand-wrap .wp-block-columns h4.wp-block-heading {
  background: #000;
  padding: 20px;
  margin-bottom: 0;
  color: #fff;
}
.sponsorenwand-wrap .wp-block-columns .wp-block-group ul, .sponsorenwand-wrap .wp-block-columns .wp-block-group p {
  color: #ffffff;
}
.sponsorenwand-wrap .wp-block-columns .wp-block-group {
  padding: 20px;
  background-color: var(--sekundaerfarbe);
}
.sponsorenwand-wrap .wp-block-columns ul.wp-block-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sponsorenwand-wrap .wp-block-columns ul.wp-block-list li {
  padding-left: 30px;
}
.sponsorenwand-wrap .wp-block-columns ul.wp-block-list li:before {
  content: "\f272";
  position: absolute;
  left: 0;
  font-family: "bootstrap-icons";
}

/*
    Loop (short)
*/
.loop.mbgi-block-post-loop .loop-wrapper .thumbnail {
  transition: all 0.3s ease;
  background-position: top center;
}
.loop.mbgi-block-post-loop .loop-wrapper .loop-title {
  background-color: var(--sekundaerfarbe);
  width: 100%;
  justify-content: center;
  padding: 20px;
  margin-bottom: 0;
  flex: 1;
  font-weight: 400;
}

/*
    Schrägen
*/
.fall-line.wp-block-group.alignfull,
.grow-line.wp-block-group.alignfull {
  padding: 0;
}
.fall-line,
.grow-line {
  background-color: var(--sekundaerfarbe);
  height: 29px;
  margin-bottom: 0px !important;
}
.fall-line:after,
.grow-line:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}
.fall-line.is-green,
.grow-line.is-green {
  background-color: #000;
}
.fall-line.is-green:after,
.grow-line.is-green:after {
  background-color: var(--sekundaerfarbe);
}
.fall-line.is-white,
.grow-line.is-white {
  background-color: var(--sekundaerfarbe);
}
.fall-line.is-white:after,
.grow-line.is-white:after {
  background-color: #fff;
}
.fall-line.black-white,
.grow-line.black-white {
  background-color: #fff;
}
.fall-line.black-white:after,
.grow-line.black-white:after {
  background-color: #000;
}

.fall-line:after {
  clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
}

/*Beitrag*/
body.single .thumb-wrap .thumbnail {
  background-size: contain;
}
body.single .post-info,
body.single .publish-date {
  display: none;
}

/*Listenpunkte*/
.page-content ul {
  max-width: 1280px;
  margin-left: 0;
}

/*Tabelle*/
main .wp-block-table .has-fixed-layout {
  border: none;
}
main .wp-block-table .has-fixed-layout td, main .wp-block-table .has-fixed-layout th, main .wp-block-table .has-fixed-layout tr,
main .wp-block-table .has-fixed-layout td:not(:last-child),
main .wp-block-table .has-fixed-layout tr:not(:last-child) {
  border: none;
}
main .wp-block-table .has-fixed-layout td, main .wp-block-table .has-fixed-layout th {
  text-align: left;
  padding: 10px;
}
main .wp-block-table .has-fixed-layout thead th {
  background-color: var(--hauptfarbe);
  color: #fff;
}
main .wp-block-table .has-fixed-layout thead th strong {
  font-weight: 400;
}

.mb-subpage h2 {
  color: var(--sekundaerfarbe);
}
.mb-subpage .page-content {
  display: flex;
  justify-content: center;
}
.mb-subpage .page-content > article {
  width: 1280px;
}

main article .wp-block-image.paragraph-distance-bottom {
  margin-bottom: var(--abstandUntenHeadline-2) !important;
}

/*Fupa*/
.fupa-widget {
  margin-bottom: 60px;
}
.fupa-widget .fp-widget-view.fp-widget-view-active {
  justify-content: flex-start;
}
.fupa-widget #fp-team-matches-view {
  padding-left: 0;
}
.fupa-widget #fp-team-matches-view .fp-team-matches-view-module-wrapper > .fp-subheading-text {
  color: var(--sekundaerfarbe);
}

/*fussball.de*/
.fussballde_widget iframe {
  max-width: 970px;
}

/* ******************
    Footer
*/
footer #corporate-copyright,
footer .footer-sidebar-wrap {
  display: none !important;
}
footer .footer-sidebar-backend > .widget {
  margin-bottom: 0;
}
footer .footer-sidebar-backend > .widget > div > div:nth-child(2) {
  flex: 1;
}
footer .footer-sidebar-backend > .widget nav ul.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer-sidebar-backend > .widget nav ul.menu li a:hover {
  text-decoration: none;
}

/* ******************
    Mobile
*/
@media (max-width: 1112px) {
  body {
    --headline-2:32px;
  }
  header #header-logo img {
    transition: all 0.3s ease;
  }
  header.set-bgcolor #header-logo img {
    max-height: 80px;
  }
  header .has-tr {
    display: none !important;
  }
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading {
    font-size: 75px;
  }
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading em {
    font-size: 120px;
  }
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading strong {
    font-size: 82px;
  }
}
@media (max-width: 834px) {
  .angebote-wrap.wp-block-group {
    flex-wrap: wrap;
  }
  .angebote-wrap.wp-block-group > div {
    flex-basis: 31%;
  }
  .sponsorenwand-wrap .wp-block-columns .wp-block-column {
    margin: 0 !important;
    flex-basis: 100% !important;
  }
  footer .widget > div {
    flex-direction: column-reverse;
  }
  footer .widget > div p,
  footer .widget > div .menu-item {
    text-align: center;
  }
  footer .widget > div img {
    max-width: 100px;
  }
}
@media (max-width: 601px) {
  body {
    --headline-2:24px;
  }
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading {
    font-size: 38px;
  }
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading em {
    font-size: 80px;
  }
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container h1.wp-block-heading strong {
    font-size: 60px;
  }
  h1.mb-hide + .wp-block-cover .wp-block-cover__inner-container .has-large-font-size {
    font-size: 18px !important;
  }
  .willkommen-wrap figure {
    display: none;
  }
  .angebote-wrap.wp-block-group > div {
    flex-basis: 46%;
  }
}/*# sourceMappingURL=style.css.map */