:root {
    --abstandUntenContainer: 80px;
}

@mixin swiper-btn {
    background-color: var(--hauptfarbe);
    width:50px;
    height:50px;
    &:after {
        font-size: var(--wp--preset--font-size--small);
        color: var(--wp--preset--color--secondary);
    }
}

/**
*   HEADER / Memü
*/
header{

}

/**
*   INHALT
*/
main{
    /*Fonts*/
    --wp--preset--font-size--x--large:60px;
	--wp--preset--font-size--large:40px;
	--wp--preset--font-size--medium:20px;
	--wp--preset--font-size--small:16px;
    h1 {
        font-size: var(--wp--preset--font-size--x--large);
        line-height: 52px !important;
        font-weight: bold;
    }
    h2, h3 {
        font-size: var(--wp--preset--font-size--large);
        line-height: 52px !important;
        font-weight: bold;
    }

    h6 {
        font-size: var(--wp--preset--font-size--medium);
        line-height: 32px !important;
        font-weight: normal;
    }

    p {
        font-size: var(--wp--preset--font-size--small);
        line-height: 24px !important;
    }

    /* buttons */
    .wp-block-button__link {
        font-size: var(--wp--preset--font-size--small);
        line-height: 19px !important;
        color: var(--sekundaerfarbe) !important; 
        font-weight: normal;
    }

    .pre-header{
        z-index: 111;
        padding-bottom:30px;
        padding-top:30px;
        z-index: 1111;
        top: -70px;        
        background: #fff;
        padding: 30px;
    }

    .mbfse-hero{
        height:calc(100vh - 144px);
        margin-top:-70px;
    }
    .wp-block-cover__inner-container {
        width: 45% !important;
        margin-left: 0;
        .has-white-background-color {
            padding: 70px !important;
        }
    }

    .is-content {
        box-shadow: 0px 10px 20px #2B34561A;
        .has-white-background-color {
            padding: 70px 90px !important;
        }
    }
    .swiper {
        --swiper-navigation-sides-offset:0;
        box-shadow: 0px 10px 20px #2B34561A;
        max-width: 834px !important;
        .swiper-pagination {
            display: none;
        }
        .swiper-wrapper .has-white-background-color{
            padding-top: 0 !important;
            padding-bottom: 60px !important;
            h1 {
                color: var(--hauptfarbe);
            }
        }
        .swiper-button-next, .swiper-button-prev {
            @include swiper-btn();
        }
    }

    .möglichkeiten {
        padding-bottom: 45px;
        padding-top: 45px;
        .wp-block-column {
            box-shadow: 0px 10px 20px #2B34561A;
            padding: 40px 50px;
            p{
                margin-bottom: 0 !important;
            }
            .wp-block-buttons {
                position: absolute;
                bottom: 30px;
            }
        }
       
    }

}

/**
*   FOOTER
*/
footer{

}