@charset "UTF-8";
:root {
  --abstandUntenContainer: 80px;
}

/**
*   HEADER / Memü
*/
header {
  --backgroundHeader:#fff;
  --abstandMenuItem: 10px 25px;
  --colorMenuItemHover:var(--hauptfarbe);
}
header #header-logo img {
  height: 60px;
}
header #menu-hauptmenue li:last-child {
  background: var(--hauptfarbe);
}

/**
*   INHALT
*/
main {
  /*Fonts*/
  --wp--preset--font-size--x--large:60px;
  --wp--preset--font-size--large:40px;
  --wp--preset--font-size--medium:20px;
  --wp--preset--font-size--small:16px;
  --paragraph: --wp--preset--font-size--small;
  --lineHeightParagraph: 1.5;
  --buttonInner:16px 20px;
  --colorButton:var(--hauptfarbe);
  --colorButtonText:var(--sekundaerfarbe);
}
@media (max-width: 601px) {
  main {
    --abstandUntenContainer:100px;
    --wp--preset--font-size--x--large:40px;
    --wp--preset--font-size--large:30px;
    --wp--preset--font-size--medium:18px;
    --wp--preset--font-size--small:14px;
  }
  main p br {
    display: none;
  }
}
main h1,
main h2 {
  padding-top: 0;
  font-size: var(--wp--preset--font-size--large);
  font-weight: 700;
}
main h3 {
  font-size: var(--wp--preset--font-size--medium);
  font-weight: 700;
}
main p {
  font-size: var(--wp--preset--font-size--small);
}
main {
  /* buttons */
}
main .nf-form-content input[type=submit],
main .wp-block-button__link {
  font-size: var(--wp--preset--font-size--small);
  text-transform: inherit;
  font-weight: 400;
}
@media (max-width: 601px) {
  main .nf-form-content input[type=submit],
  main .wp-block-button__link {
    width: 100%;
  }
}
main .wp-block-button.is-style-outline a {
  background-color: #fff;
}
main .wp-block-button.is-style-outline a:hover {
  background-color: var(--colorFont);
  color: var(--colorLink);
}
@media (max-width: 601px) {
  main .wp-block-button {
    width: 100%;
  }
}
main {
  /*Listitem*/
}
main ul.wp-block-list li {
  margin-bottom: 0;
}
main {
  /*PreHeader*/
}
main .pre-header {
  z-index: 111;
  padding-bottom: 30px;
  padding-top: 30px;
  z-index: 1111;
  top: -70px;
  background: #fff;
  padding: 30px;
}
main {
  /*Hero*/
}
main .mbfse-hero {
  height: calc(100vh - 144px);
  margin-top: -70px;
}
main .mbfse-hero .wp-block-cover__inner-container {
  margin-left: 0;
  width: 50%;
  margin-top: auto !important;
  margin-bottom: auto;
}
main .mbfse-hero .wp-block-cover__inner-container .has-white-background-color {
  padding: 70px;
}
@media (max-width: 1280px) {
  main .mbfse-hero {
    height: 100%;
  }
  main .mbfse-hero .wp-block-cover__inner-container {
    width: 60% !important;
  }
}
@media (max-width: 834px) {
  main .mbfse-hero .wp-block-cover__inner-container {
    width: 100% !important;
    margin-top: 55vh !important;
    padding: 0;
  }
  main .mbfse-hero .wp-block-cover__inner-container .has-white-background-color {
    padding: 50px;
  }
}
@media (max-width: 601px) {
  main .mbfse-hero img {
    height: auto !important;
  }
}
@media (max-width: 601px) and (max-width: 414px) {
  main .mbfse-hero img {
    height: 315px !important;
  }
}
@media (max-width: 601px) {
  main .mbfse-hero .wp-block-cover__inner-container {
    margin-top: 350px !important;
  }
  main .mbfse-hero .wp-block-cover__inner-container .has-white-background-color {
    padding: 0px;
  }
}
main {
  /* Bild Text Container*/
}
main .bild-text-wrapper {
  align-items: stretch !important;
  gap: 0;
}
main .bild-text-wrapper.paragraph-distance-bottom {
  margin-bottom: calc(var(--abstandUntenParagraph) * 2) !important;
}
main .bild-text-wrapper {
  /*Bildcontainer*/
}
main .bild-text-wrapper .wp-block-column:nth-child(1) {
  align-self: stretch !important;
  flex-basis: calc(50% + 6rem) !important;
}
main .bild-text-wrapper .wp-block-column:nth-child(1) figure {
  height: 100%;
  display: flex;
  margin: 0;
}
main .bild-text-wrapper .wp-block-column:nth-child(1) figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media (max-width: 601px) {
  main .bild-text-wrapper .wp-block-column:nth-child(1) figure {
    left: calc(var(--abstandSeiten) * -1);
    width: calc(100% + var(--abstandSeiten) * 2);
  }
}
main .bild-text-wrapper {
  /*Textcontainer*/
}
main .bild-text-wrapper .wp-block-column:nth-child(2) {
  padding: 120px 0;
}
main .bild-text-wrapper .wp-block-column:nth-child(2) .has-white-background-color {
  box-shadow: 0px 10px 20px rgba(43, 52, 86, 0.1019607843);
  padding: 70px 90px;
  background-position: right bottom !important;
}
@media (max-width: 1112px) {
  main .bild-text-wrapper .wp-block-column:nth-child(2) .has-white-background-color {
    padding: 40px 50px;
  }
}
@media (max-width: 601px) {
  main .bild-text-wrapper .wp-block-column:nth-child(2) .has-white-background-color {
    padding: 0;
    padding-top: var(--abstandSeiten);
    background-size: 0% !important;
    box-shadow: none;
  }
}
@media (max-width: 834px) {
  main .bild-text-wrapper {
    flex-direction: column;
  }
  main .bild-text-wrapper .wp-block-column:nth-child(2) {
    padding: 0;
  }
}
main {
  /*Numer Slider*/
}
main .swiper {
  --swiper-navigation-sides-offset:0;
  box-shadow: 0px 10px 20px rgba(43, 52, 86, 0.1019607843);
  max-width: 834px !important;
}
main .swiper .swiper-pagination {
  display: none;
}
main .swiper .swiper-wrapper {
  padding-top: 40px;
  padding-bottom: 60px;
}
main .swiper .swiper-wrapper > div {
  padding-top: 0;
  padding-bottom: 0;
}
main .swiper .swiper-wrapper h3 {
  font-size: var(--wp--preset--font-size--x--large);
  color: var(--hauptfarbe);
}
main .swiper .swiper-button-next, main .swiper .swiper-button-prev {
  background-color: var(--hauptfarbe);
  width: 50px;
  height: 50px;
}
main .swiper .swiper-button-next:after, main .swiper .swiper-button-prev:after {
  font-size: var(--wp--preset--font-size--small);
  color: var(--wp--preset--color--secondary);
}
@media (max-width: 601px) {
  main .swiper {
    --swiper-navigation-sides-offset: calc(50% - 60px);
    --swiper-navigation-top-offset:85%;
  }
  main .swiper .swiper-wrapper {
    padding-top: 20px;
    padding-bottom: 110px;
  }
}
main {
  /*3 Boxes*/
}
main .möglichkeiten .wp-block-column {
  box-shadow: 0px 10px 20px rgba(43, 52, 86, 0.1019607843);
  padding: 50px 40px 40px;
  display: flex;
  flex-direction: column;
}
main .möglichkeiten .wp-block-column h3 {
  margin-left: 0;
}
main .möglichkeiten .wp-block-column p {
  margin-bottom: 60px !important;
}
main .möglichkeiten .wp-block-column .wp-block-buttons {
  margin-top: auto;
  width: 100%;
}
main .möglichkeiten .wp-block-column .wp-block-buttons .wp-block-button {
  width: 100%;
}
@media (max-width: 601px) {
  main .möglichkeiten .wp-block-column {
    padding: var(--abstandSeiten);
  }
}
main {
  /*Form SubmitButton*/
}
main .nf-form-content input:not([type=button]):not([type=submit]),
main .nf-form-content textarea {
  background: rgba(43, 52, 86, 0.0509803922);
  border: none;
}
main .nf-form-content .nf-error-msg, main .nf-form-content .ninja-forms-req-symbol,
main .nf-form-content .nf-field-label .nf-label-span,
main .nf-form-content .nf-field-label label {
  font-size: var(--wp--preset--font-size--small);
}
main .nf-form-content .submit-wrap {
  text-align: center;
}
main .nf-form-content .submit-wrap input[type=submit] {
  border: none;
}
main .nf-form-content .submit-wrap input[type=submit]:hover {
  color: #fff;
}
main {
  /*Gallery*/
}
main .wp-block-gallery.columns-6.mb-lightbox figure {
  width: 100%;
  max-width: 100% !important;
}
@media (max-width: 601px) {
  main .wp-block-gallery.columns-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  main .wp-block-gallery.columns-6 figure.wp-block-image {
    width: 100% !important;
  }
}
@media (max-width: 601px) and (max-width: 414px) {
  main .wp-block-gallery.columns-6 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

body:not(.home) main h1 {
  padding-top: 120px;
}
@media (max-width: 601px) {
  body:not(.home) main h1 {
    padding-top: 60px;
  }
}
@media (max-width: 601px) {
  body:not(.home) main h2 {
    font-size: 24px;
  }
}

/**
*   FOOTER
*/
footer {
  --backgroundFooter:var(--menufarbe);
  --colorMenuItem:#fff;
}/*# sourceMappingURL=style.css.map */